body {
  margin: 0;
  padding: 0;
  font-family: 'Jim Nightshade', cursive;
  background-image: url(./warning.gif);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

button {
  cursor: pointer;
  font-family: 'Jim Nightshade', cursive;
  font-size: .6em;
  border-radius: 16px;
}

button:focus {
  outline: 0;
}

.generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 600px;
  background-image: url('./keepOut.gif');
  color: #fff;
  font-size: 2em;
  border-radius: 16px;
}
